@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* @import src: font-url('Avenir85Heavy.woff2') format("woff2"); */
/* Not sure how to pull the font from file */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

header {
    background-color: aqua;
}

#wrapper {
    background-color: blue;
    margin: 40px;
}

nav {
    background-color: red;
    font-size: 1em;
    text-align: center;
}

nav a {
    margin: 1.8rem;
    display: inline;
}

a:hover { 
    background-color: yellow;
}

h2 {
    font-size: 1.5em;
    padding-top: .1em;
    padding-bottom: 1em;
}

body {
    color: #353535;
    line-height: 1.5em;
    font-family: Open Sans, Weissenhof Grotesk Regular;
    font-size: 16px;
}

primary {
    float: left;
    width:60%;
    padding: 1%;
    background-color:yellow;
}

img {
    max-width:100%;
    max-height:100%;
}

article {
    padding: 10px;
    background-color: blueviolet;
    border: 4px solid black;
    float: right;
    width: 30%;
    padding: 1%;
    text-align: center;
    height: 480px;
}

h1 {
    color: #353535;
    text-align: center;
    font-size: 2em;
    /* font-family: Open Sans, Avenir 85 Heavy; */
}

h3 {
    color: #353535;
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
}

p {
    color: #353535;
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
    margin: 2em;
}

main {
    background-color: green;
}

footer{
    background-color: bisque;
    clear: both;
}

@media only screen and (max-width: 760px) {
    article {
        float: none;
        width: auto;
    }

    body {
        font-size: 12px;
    }

    h2 {
        font-size: 1.75em;
    }
}

/* Why is the margin going round the photo not the div? */
/*Question - how to load fonts*/
